POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=moodflydb
POSTGRES_SSLMODE=disable
POSTGRES_URL=postgres://postgres:postgres@localhost:5432/moodflydb?sslmode=disable

REDIS_PORT=6379
REDIS_PASSWORD=admin

ACCESS_SECRET=supersecretkey"